@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Avenir-otf/AvenirNextLTPro-Regular.otf")
        format("otf"),
      url("../../assets/fonts/Avenir-ttf/AvenirNextLTPro.ttf") format("ttf"),
      url("../../assets/fonts/Avenir-woff/AvenirNextLTPro-Regular.woff")
        format("woff"),
      url("../../assets/fonts/Avenir-woff2/AvenirNextLTPro-Regular.woff2")
        format("woff2");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Avenir-otf/AvenirNextLTPro-Demi.otf")
        format("otf"),
      url("../../assets/fonts/Avenir-ttf/AvenirNextLTProDemi.ttf") format("ttf"),
      url("../../assets/fonts/Avenir-woff/AvenirNextLTPro-Demi.woff")
        format("woff"),
      url("../../assets/fonts/Avenir-woff2/AvenirNextLTPro-Demi.woff2")
        format("woff2");
    font-weight: 600;
  }
  
  