$bf-black: #323232;
$bf-black-opacity: #32323280;
$silver: #afafaf;
$white: #fff;
$bf-blue: #0095ff;

$bf-dk-black: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$bf-dk-blue: #0065ad;

$fs-root: 16px;

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;